{% extends 'base/navegacion.html' %} {% block contenido %}
<div class="menu">
  <div class="menu-content">
    <div class="welcome">
      <h1>Bienvenido</h1>
    </div>
    <div class="description">
      <p>
        Sistema de reserva de hotel. Controle y administre de forma óptima y
        fácil el flujo de reservas y de huéspedes del hotel.
      </p>
      <p>
        Esta herramienta le permitirá llevar un control completo y detallado de
        sus reservas y huéspedes y tendrá acceso a herramientas especiales para
        tareas específicas.
      </p>
      <ul>
        <li>Registro de Reservas y Huéspedes</li>
        <li>Edición de Reservas y Huéspedes existentes</li>
        <li>Eliminar todo tipo de registros</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
